body {
    /*background-color: #ffffff; */
    background-image: url(struckaxiom.png);
    background-repeat:repeat;
    color: #6E6E6E;
}

table {
    background-image: url(brushed_alu.png);
    background-repeat:repeat;
}

.navtweaks {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #68CEDE;
}

a:hover,
a:focus {
  color: #0084E3;
  text-decoration: none;
}

a:visited {
  color: #6E6E6E;
}