<ul class="nav">
  <li>
    <%= link_to "BeatBubbler", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to 'Popular', root_path %>
  </li>
  <li>
    <%= link_to 'Recent', root_path %>
  </li>
  <li>
    <%= link_to 'Submit', new_post_path %>
  </li>
</ul>